<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/css/lightbox.min.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.11.1/js/lightbox.min.js"></script>

<style>
    .gallery-container {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        justify-content: space-around;
        width: 100%;
        margin: 0 auto;
    }
    .gallery-container a {
        flex: 1 1 calc(25% - 10px);
        max-width: calc(25% - 10px);
        border-radius: 5px;
        overflow: hidden;
    }
    /* Стиль для горизонтальных изображений */
    .gallery-container a.horizontal img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    /* Стиль для вертикальных изображений */
    .gallery-container a.vertical img {
        width: auto;
        height: 100%;
        object-fit: contain;
    }
</style>

{{ $folder := .Get "folder" }}
<p>Ищем изображения в папке: {{ $folder }}</p>
<div class="gallery-container">
    {{ with (.Page.Resources.Match (printf "%s/*" $folder)) }}
    {{ if . }}
    {{ range . }}
    {{ $resized := .Resize "600x800 q90" }}
    <a href="{{ .Permalink }}" data-lightbox="gallery" class="{{ if gt .Height .Width }}vertical{{ else }}horizontal{{ end }}">
        <img src="{{ $resized.Permalink }}" alt="{{ .Name }}" />
    </a>
    {{ end }}
    {{ else }}
    <p>Изображения не найдены в папке: {{ $folder }}</p>
    {{ end }}
    {{ end }}
</div>


